body {
    font-family: Verdana, sans-serif;
    color: black;
    background-color: #FAE125;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

header {
    background-color: yellow;
    text-align: center;
    padding: 50px;
    width: 80%;
    margin-bottom: 50px;
}

header h1 {
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

article {
    background-color: yellow;
    padding: 20px;
    border-radius: 16px;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    min-width: 300px;
}

article h2 {
    color: #003366;
    font-size: 1.6rem;
}

article img {
    width: 60%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: yellow;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    font-size: 1rem;
    color: black;
    margin-bottom: 20px;
}

.linktext {
    margin-top: 20px;
}